
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
}
.login {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.login input {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    display: inline-block;
    border: none;
    border-bottom: 2px solid #ccc;
}

.login button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
.radio-group {
    display: flex;
    gap: 60px; /* Adjust the space between the options */
    justify-content: center;
  }
  
  .radio-group label {
    display: flex;
    align-items: center;
    gap: 5px; /* Adjust space between the radio button and the label */
    font-family:"Open Sans", sans-serif; 
  }
  
  .radio-group input[type="radio"] {
    padding: 0;
    margin: 0;
  }
  
